* {
	margin: 0;
	padding: 0;
	font-family: "Lato", Arial, sans-serif;
}

body {
	display: grid;
	height: 100vh;
	width: 100vw;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 3.25vh 1fr 4vh;
	grid-template-areas: "header header"
						 "main main"
						 "footer footer";
}

header {
	grid-area: header;
	background: #4b4b4b;
	display: flex;
	
}

.logo {
	width: 100%;
	height: 100%;
}

main {
	grid-area: main;
	background: #ccc;
}

footer {
	grid-area: footer;
	background: #4b4b4b;
}